html {
    height: 100%;
    font-size: 62.5%;
}

body {
    min-height: 100%;
    height: 100%;
    // background: url(../assets/main-background-image.jpg);
    background: url(../assets/glasses-background-2.jpg);
    background-size: cover;
    background-attachment: fixed;

    @include body-text($primary-color, $small-font);
    & p {
        margin: 0;
    }
}

.wrapper {
    max-width: 1600px;
    height: 100%;
    margin: 0 auto;
}

.title {
    font-size: $large-font;
    font-family: $primary-font;
    color: $secondary-color-dark;
    text-transform: uppercase;
    margin-top: 0;
    text-align: center;
    padding-top: 50px;

    text-shadow: #2e2b32 1px 1px, #2e2b32 0px 0px, #2e2b32 1px 1px,
        #2e2b32 2px 2px, #2e2b32 3px 3px, #2e2b32 4px 4px, #2e2b32 5px 5px,
        #2e2b32 6px 6px, #2e2b32 7px 7px, #2e2b32 8px 8px, #2e2b32 9px 9px,
        #2e2b32 10px 10px, #2e2b32 11px 11px, #2e2b32 12px 12px,
        #2e2b32 13px 13px, #2e2b32 14px 14px, #2e2b32 15px 15px;
}

.form-wrapper {
    margin: 0 auto;
    width: 1000px;
    height: 500px;
}

.container,
.btns-div {
    margin: 0 auto;
    text-align: center;
}

input[type='radio'] {
    display: none;
}

.question {
    display: none;
}

.question:first-child {
    display: block;
}

.first-option {
    margin-top: 60px;
}

label,
.question-title {
    @include selection-style(20px 0, 20px);
    display: block;
}

label {
    box-shadow: 0px 0px 8px 1px lighten($primary-color, 10),
        0px 6px 0px 0px lighten($primary-color, 50);
    &:hover {
        color: darken($secondary-color-dark, 7);
        cursor: pointer;
    }
}

.question-title {
    padding: 90px;
    box-shadow: 0px 0px 8px 1px lighten($primary-color, 5);
}

#change-my-mind,
#refresh {
    display: none;
    margin: 0;
}

.btns {
    @include selection-style(20px 0, 15px 20px);
    color: $primary-color;
    box-shadow: 0px 0px 8px 1px lighten($primary-color, 5);
}

.refresh-label,
.change-mind-label {
    background: none;
    box-shadow: none;
}

.your-glasses {
    display: none;
    width: 800px;
    height: 450px;
    overflow: hidden;
    text-align: center;
    margin: 0 auto;
}

.glasses-img {
    width: 100%;
    margin: 0 auto;
}

.next {
    border: 2px purple solid;
    text-align: center;
}

footer {
    text-align: center;
    padding-top: 180px;
    & a {
        text-decoration: none;
        color: $primary-color;
    }
}
