@media (max-width:1057px) {
    .form-wrapper {
        width: 700px;
        height: 400px;
    }
    .container {
        width: 600px;
        height:400px;

    }

    .your-glasses {
        width: 600px;
        height:400px;
        
}
    .try-again {
     margin-left:180px;
    }

    .btns {
        margin-left:50px;
    }
    .btns-div {
        width:500px;
    }


    .btns-div.mind-change-div {
    margin-left:50px;
    }

    .options-small, .options-medium,.options-large,.options-xlarge {
        width:80%;
    }


}



@media (max-width:830px) {
    .try-again {
        margin-left:150px;
    }
    
}



@media (max-width:715px) {
    .wrapper {
        height: 100%;
    }

    .title {
        font-size: 3.8rem;
        padding-top: 30px;
    }

    .form-wrapper {
        width: 400px;
        height: 80%;
        padding-bottom: 30px;
    }

    .container {
        width:400px;
        height:400px;
    }

    .question-title {
        font-size: 2rem;
    }

    .your-glasses {
        width: 400px;
        height:400px;
    }

    .try-again {
        text-align:center;
        margin: 0 auto 20px auto;
    }

    .btns {
        margin-left:0;
    }

    .btns-div {
        width:100%;
    }
    
    .next-div .btns, .generate-div .btns {
        margin:20px 0 0 0 ;
    }

    .btns-div.mind-change-div {
        margin-left:0;
        position:static;
    }

    #change-my-mind {
        width: 100%;
    }

}






@media(max-width:420px) {

    .title {
        font-size: 2.8rem;
        padding-top: 30px;

        text-shadow: 3px 3px 0.5px $secondary-color-light; 
    }

    .form-wrapper {
        width: 100%;
        padding-bottom: 30px;
    }

    .container {
        width:100%;
        height: initial;
        text-align: center;
    }

    .question-title {
        font-size: 1.6rem;
        margin: 0;
    }

    .options-small, .options-medium, .options-large, .options-xlarge {
        font-size: 1.4rem;
        margin: 0;
        padding: 0;
        display: inline-block;
    }

    .your-glasses {
        width: 100%;
        height: initial;
    }

    .try-again {
        text-align:center;
        margin: 0 auto 20px auto;
    }

    .btns {
        margin-left:0;
    }

    .btns-div {
        width:100%;
        text-align: center;
    }
    
    .next-div .btns, .generate-div .btns {
        margin:20px 0 0 0 ;
    }

    .btns-div.mind-change-div {
        margin-left:0;
        position:static;
    }

    #change-my-mind {
        width: 90%;
        // padding: 5px 15px;
        }
    input[value="Can't see! Gimme glasses!"]{
        font-size:1.2rem;
    }

    .pika {
        width:60%;
        margin-bottom:25px;
    }

}
