@media (max-width: 1057px) {
    .form-wrapper {
        width: 700px;
    }

    .your-glasses {
        width: 600px;
        height: 400px;
    }
}

@media (max-width: 715px) {
    .wrapper {
        height: 100%;
    }

    .title {
        font-size: $medium-font;
        padding-top: 30px;
    }

    .form-wrapper {
        width: 400px;
        padding-bottom: 30px;
    }

    .your-glasses {
        width: 400px;
        height: 400px;
    }
}

@media (max-width: 420px) {
    .form-wrapper {
        width: 90%;
        padding-bottom: 30px;
    }

    .title {
        text-shadow: #2e2b32 1px 1px, #2e2b32 0px 0px, #2e2b32 1px 1px,
            #2e2b32 2px 2px, #2e2b32 3px 3px, #2e2b32 4px 4px, #2e2b32 5px 5px,
            #2e2b32 6px 6px, #2e2b32 7px 7px, #2e2b32 8px 8px, #2e2b32 10px 10px;
    }

    .question-title {
        line-height: 1.8;
        padding: 70px;
    }

    .your-glasses {
        width: 100%;
        height: initial;
    }

    .next-div .btns,
    .generate-div .btns {
        margin: 20px 0 0 0;
    }

    .pika {
        width: 60%;
        margin-bottom: 60px;
    }
    footer {
        padding-top: 150px;
    }
}
