@mixin body-text($color, $font-size) {
    font-family: $primary-font;
    font-size: $font-size;
    color: $color;
}

@mixin selection-style($margin, $padding...) {
    margin: $margin;
    padding: $padding;
    border-radius: 5px;
    background: $tertiary-color;
}
