@import "partials/_setup"; 
@import "partials/mixins";


.question {
    display:none;
}

.question:first-child {
    display: inherit;
}

#submit {
    display:none;
}

#changeMyMind {
    display:none;
}