@import "partials/_setup"; 
@import "partials/mixins";



// font-family: 'Source Sans Pro', sans-serif;


body {
    font-size: 62.5%;
    background: url(../assets/main-background-image.jpg);
    
}

.title {
    font-size:3.2rem;
    font-family: 'Source Sans Pro', sans-serif;
    color: #FAFAFA;
    text-transform:uppercase;
}

.question {
    display:none;
}

.question:first-child {
    display: inherit;
}

#generate {
    display:none;
}

#changeMyMind {
    display:none;
}

#refresh{
    display:none;
}